---
import Card from "~/components/Card.astro";
import MainLayout from "~/layouts/MainLayout.astro";
import { projects } from "~/../data/projects";
---

<MainLayout>
  <div class="flex-grow space-y-2">
    <div class="hidden text-right text-neutral-400 md:inline">
      Search project
    </div>
    <ul
      class="flex justify-center md:grid md:grid-cols-3 md:gap-4 2xl:grid-cols-4"
    >
      {
        projects.map((project) => (
          <li>
            <Card
              title={project.name}
              description={project.description}
              href={project.href}
              logoURL={project.logoURL}
              coverURL={project.coverURL}
              domains={project.domains}
              socials={project.socials.sort((x, y) =>
                x.type > y.type ? 1 : -1,
              )}
            />
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
